template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  ExpertiseRAG - GraphRAG platform using Memgraph (EC2/EBS) for the knowledge
  graph and PostgreSQL pgvector (RDS) for chunk vector storage.

# ─────────────────────────────────────────────────────────────────────────────
# Parameters
# ─────────────────────────────────────────────────────────────────────────────
Parameters:
  Environment:
    Type: String
    Default: dev
    AllowedValues: [dev, staging, prod]
    Description: Deployment environment

  GenerationModelId:
    Type: String
    Default: us.amazon.nova-pro-v1:0
    Description: >
      Bedrock inference profile ID used by the Query API for answer synthesis.
      Must use cross-region inference profile (us. prefix) for on-demand throughput.

  LogRetentionDays:
    Type: Number
    Default: 3
    AllowedValues: [1, 3, 5, 7, 14, 30, 60, 90, 120, 150, 180, 365, 400, 545, 731, 1827, 3653]
    Description: CloudWatch log retention period in days

  EnableStepFunctions:
    Type: String
    Default: 'true'
    AllowedValues: ['true', 'false']
    Description: Deploy Step Functions ingestion orchestration state machine

  # ── Networking ─────────────────────────────────────────────────────────────
  VpcCidr:
    Type: String
    Default: 10.0.0.0/16
    Description: CIDR block for the VPC

  AdminCidr:
    Type: String
    Default: 10.0.0.0/8
    Description: CIDR allowed SSH access to the Memgraph EC2 instance

  EC2KeyPairName:
    Type: String
    Default: ''
    Description: EC2 key pair name for SSH access to Memgraph instance (optional)

  # ── Memgraph EC2 ──────────────────────────────────────────────────────────
  MemgraphInstanceType:
    Type: String
    Default: t4g.small
    AllowedValues: [t4g.small, t4g.medium, t4g.large, t3.medium, t3.large, t3.xlarge, m6i.large, m6i.xlarge, m7g.medium, m7g.large]
    Description: EC2 instance type for Memgraph (t4g = Graviton2 arm64, recommended for cost)

  MemgraphEBSSizeGB:
    Type: Number
    Default: 20
    MinValue: 20
    MaxValue: 1000
    Description: EBS volume size (GB) for Memgraph data persistence

  # ── PostgreSQL ────────────────────────────────────────────────────────────
  PostgresInstanceClass:
    Type: String
    Default: db.t4g.micro
    AllowedValues: [db.t4g.micro, db.t4g.small, db.t4g.medium, db.t3.micro, db.t3.medium, db.t3.large, db.r6g.large, db.r8g.large]
    Description: RDS instance class for PostgreSQL (db.t4g = Graviton2 arm64, recommended for cost)

  PostgresDbName:
    Type: String
    Default: expertiserag
    Description: PostgreSQL database name

  PostgresUsername:
    Type: String
    Default: expertiserag
    Description: PostgreSQL master username

# ─────────────────────────────────────────────────────────────────────────────
# Conditions
# ─────────────────────────────────────────────────────────────────────────────
Conditions:
  DeployStepFunctions: !Equals [!Ref EnableStepFunctions, 'true']
  HasEC2KeyPair: !Not [!Equals [!Ref EC2KeyPairName, '']]
  # True when a Graviton (arm64) instance family is selected for Memgraph
  MemgraphIsGraviton: !Or
    - !Equals [!Select [0, !Split ['.', !Ref MemgraphInstanceType]], 't4g']
    - !Equals [!Select [0, !Split ['.', !Ref MemgraphInstanceType]], 'm7g']
    - !Equals [!Select [0, !Split ['.', !Ref MemgraphInstanceType]], 'c7g']

# ─────────────────────────────────────────────────────────────────────────────
# Globals
# ─────────────────────────────────────────────────────────────────────────────
Globals:
  Function:
    Runtime: python3.12
    Architectures: [arm64]
    Timeout: 300
    MemorySize: 512
    Tracing: Active
    Environment:
      Variables:
        POWERTOOLS_SERVICE_NAME: expertise-rag
        LOG_LEVEL: DEBUG
        ENVIRONMENT: !Ref Environment
        # boto3/botocore: resolve AWS service endpoints to dual-stack (IPv6)
        # addresses so Lambda can reach Bedrock, Secrets Manager, etc. via
        # the Egress-Only Internet Gateway without VPC interface endpoints.
        AWS_USE_DUALSTACK_ENDPOINT: 'true'
        ARTIFACTS_BUCKET: !Sub expertise-rag-artifacts-${AWS::AccountId}-${Environment}
        MEMGRAPH_SECRET_ARN: !Ref MemgraphSecret
        POSTGRES_SECRET_ARN: !Ref PostgresSecret
    Tags:
      Project: ExpertiseRAG
      Environment: !Ref Environment

# ─────────────────────────────────────────────────────────────────────────────
# Resources
# ─────────────────────────────────────────────────────────────────────────────
Resources:

  # ───────────────────────────────────────────
  # KMS Key for encryption at rest
  # ───────────────────────────────────────────
  ArtifactsKMSKey:
    Type: AWS::KMS::Key
    Properties:
      Description: !Sub ExpertiseRAG S3 and Lambda encryption key (${Environment})
      EnableKeyRotation: true
      MultiRegion: false
      KeyPolicy:
        Version: '2012-10-17'
        Statement:
          - Sid: AllowRootAccount
            Effect: Allow
            Principal:
              AWS: !Sub arn:aws:iam::${AWS::AccountId}:root
            Action: kms:*
            Resource: '*'
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  ArtifactsKMSKeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub alias/expertise-rag-${Environment}
      TargetKeyId: !Ref ArtifactsKMSKey

  # ───────────────────────────────────────────
  # VPC – dual-stack (IPv4 + IPv6), no NAT Gateway
  #
  # Cost model:
  #   IGW   – free (EC2 outbound IPv4/IPv6)
  #   EIGW  – free (Lambda outbound IPv6 only; blocks inbound)
  #   No NAT Gateway, no VPC Interface Endpoints
  # ───────────────────────────────────────────
  VPC:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: !Ref VpcCidr
      EnableDnsSupport: true
      EnableDnsHostnames: true
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-vpc-${Environment}
        - Key: Project
          Value: ExpertiseRAG

  # Amazon-provided /56 IPv6 CIDR attached to the VPC
  VPCIpv6CidrBlock:
    Type: AWS::EC2::VPCCidrBlock
    Properties:
      VpcId: !Ref VPC
      AmazonProvidedIpv6CidrBlock: true

  InternetGateway:
    Type: AWS::EC2::InternetGateway
    Properties:
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-igw-${Environment}

  VPCGatewayAttachment:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      VpcId: !Ref VPC
      InternetGatewayId: !Ref InternetGateway

  # Egress-Only Internet Gateway – free; allows Lambda → internet (IPv6),
  # blocks all inbound connections from internet → Lambda
  EgressOnlyInternetGateway:
    Type: AWS::EC2::EgressOnlyInternetGateway
    Properties:
      VpcId: !Ref VPC

  # Public subnets – Memgraph EC2 (dual-stack, public IPv4 + IPv6 via IGW)
  PublicSubnet1:
    Type: AWS::EC2::Subnet
    DependsOn: VPCIpv6CidrBlock
    Properties:
      VpcId: !Ref VPC
      CidrBlock: !Select [0, !Cidr [!Ref VpcCidr, 8, 8]]
      Ipv6CidrBlock: !Select [0, !Cidr [!Select [0, !GetAtt VPC.Ipv6CidrBlocks], 8, 64]]
      AvailabilityZone: !Select [0, !GetAZs '']
      MapPublicIpOnLaunch: true
      AssignIpv6AddressOnCreation: true
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-public-1-${Environment}

  PublicSubnet2:
    Type: AWS::EC2::Subnet
    DependsOn: VPCIpv6CidrBlock
    Properties:
      VpcId: !Ref VPC
      CidrBlock: !Select [1, !Cidr [!Ref VpcCidr, 8, 8]]
      Ipv6CidrBlock: !Select [1, !Cidr [!Select [0, !GetAtt VPC.Ipv6CidrBlocks], 8, 64]]
      AvailabilityZone: !Select [1, !GetAZs '']
      MapPublicIpOnLaunch: true
      AssignIpv6AddressOnCreation: true
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-public-2-${Environment}

  # Private subnets – Lambda + RDS (dual-stack; IPv4 for VPC-local, IPv6 via EIGW)
  PrivateSubnet1:
    Type: AWS::EC2::Subnet
    DependsOn: VPCIpv6CidrBlock
    Properties:
      VpcId: !Ref VPC
      CidrBlock: !Select [2, !Cidr [!Ref VpcCidr, 8, 8]]
      Ipv6CidrBlock: !Select [2, !Cidr [!Select [0, !GetAtt VPC.Ipv6CidrBlocks], 8, 64]]
      AvailabilityZone: !Select [0, !GetAZs '']
      MapPublicIpOnLaunch: false
      AssignIpv6AddressOnCreation: true
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-private-1-${Environment}

  PrivateSubnet2:
    Type: AWS::EC2::Subnet
    DependsOn: VPCIpv6CidrBlock
    Properties:
      VpcId: !Ref VPC
      CidrBlock: !Select [3, !Cidr [!Ref VpcCidr, 8, 8]]
      Ipv6CidrBlock: !Select [3, !Cidr [!Select [0, !GetAtt VPC.Ipv6CidrBlocks], 8, 64]]
      AvailabilityZone: !Select [1, !GetAZs '']
      MapPublicIpOnLaunch: false
      AssignIpv6AddressOnCreation: true
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-private-2-${Environment}

  # ── Route tables ────────────────────────────────────────────────────────────

  # Public route table: IPv4 + IPv6 → IGW (for Memgraph EC2)
  PublicRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref VPC

  PublicRoute:
    Type: AWS::EC2::Route
    DependsOn: VPCGatewayAttachment
    Properties:
      RouteTableId: !Ref PublicRouteTable
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId: !Ref InternetGateway

  PublicRouteIPv6:
    Type: AWS::EC2::Route
    DependsOn: VPCGatewayAttachment
    Properties:
      RouteTableId: !Ref PublicRouteTable
      DestinationIpv6CidrBlock: ::/0
      GatewayId: !Ref InternetGateway

  PublicSubnet1RouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PublicSubnet1
      RouteTableId: !Ref PublicRouteTable

  PublicSubnet2RouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PublicSubnet2
      RouteTableId: !Ref PublicRouteTable

  # Private route table: no IPv4 default route (VPC-local only),
  #                      IPv6 ::/0 → EIGW (Lambda → AWS APIs over IPv6)
  PrivateRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref VPC

  PrivateRouteIPv6:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId: !Ref PrivateRouteTable
      DestinationIpv6CidrBlock: ::/0
      EgressOnlyInternetGatewayId: !Ref EgressOnlyInternetGateway

  PrivateSubnet1RouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PrivateSubnet1
      RouteTableId: !Ref PrivateRouteTable

  PrivateSubnet2RouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PrivateSubnet2
      RouteTableId: !Ref PrivateRouteTable

  # S3 VPC Gateway Endpoint – free; keeps S3 traffic off the internet
  S3VPCEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref VPC
      ServiceName: !Sub com.amazonaws.${AWS::Region}.s3
      VpcEndpointType: Gateway
      RouteTableIds:
        - !Ref PrivateRouteTable
        - !Ref PublicRouteTable

  # ───────────────────────────────────────────
  # Security Groups
  # ───────────────────────────────────────────

  # Lambda functions SG – outbound only (IPv4 for VPC-local, IPv6 for internet via EIGW)
  LambdaSG:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: ExpertiseRAG Lambda functions - egress only
      VpcId: !Ref VPC
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: 0.0.0.0/0
          Description: "IPv4 egress (VPC-local: RDS, Memgraph EC2)"
        - IpProtocol: '-1'
          CidrIpv6: ::/0
          Description: "IPv6 egress via EIGW (AWS APIs: Bedrock, Secrets Manager)"
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-lambda-sg-${Environment}

  # Memgraph EC2 SG – bolt (7687) from Lambda, SSH from admin CIDR
  MemgraphSG:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: ExpertiseRAG Memgraph EC2 instance
      VpcId: !Ref VPC
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 7687
          ToPort: 7687
          SourceSecurityGroupId: !Ref LambdaSG
          Description: Bolt protocol from Lambda
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          CidrIp: !Ref AdminCidr
          Description: SSH from admin CIDR
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: 0.0.0.0/0
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-memgraph-sg-${Environment}

  # RDS PostgreSQL SG – port 5432 from Lambda
  PostgresSG:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: ExpertiseRAG RDS PostgreSQL
      VpcId: !Ref VPC
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 5432
          ToPort: 5432
          SourceSecurityGroupId: !Ref LambdaSG
          Description: PostgreSQL from Lambda
        - IpProtocol: tcp
          FromPort: 5432
          ToPort: 5432
          SourceSecurityGroupId: !Ref MemgraphSG
          Description: PostgreSQL from Memgraph EC2 (for admin access)
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-postgres-sg-${Environment}

  # ───────────────────────────────────────────
  # Secrets Manager – Memgraph connection info
  # ───────────────────────────────────────────
  MemgraphSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: !Sub expertise-rag-memgraph-${Environment}
      Description: Memgraph EC2 connection info for ExpertiseRAG
      # EC2 private IP is injected at deploy time via !Sub ${MemgraphEC2.PrivateIp}
      # Username/password are empty (Memgraph CE has no auth by default)
      SecretString: !Sub |
        {
          "host": "${MemgraphEC2.PrivateIp}",
          "port": 7687,
          "username": "",
          "password": ""
        }
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # ───────────────────────────────────────────
  # Secrets Manager – PostgreSQL credentials
  # ───────────────────────────────────────────
  PostgresSecret:
    Type: AWS::SecretsManager::Secret
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      Name: !Sub expertise-rag-postgres-${Environment}
      Description: PostgreSQL credentials for ExpertiseRAG pgvector
      GenerateSecretString:
        SecretStringTemplate: !Sub |
          {
            "username": "${PostgresUsername}",
            "dbname": "${PostgresDbName}",
            "port": 5432
          }
        GenerateStringKey: password
        PasswordLength: 32
        ExcludeCharacters: '"@/\'
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # ───────────────────────────────────────────
  # Memgraph EC2 instance + EBS volume
  # ───────────────────────────────────────────
  MemgraphInstanceRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub expertise-rag-memgraph-ec2-${Environment}
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
      Policies:
        - PolicyName: S3BinariesRead
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: s3:GetObject
                Resource: !Sub arn:aws:s3:::expertise-rag-artifacts-${AWS::AccountId}-${Environment}/binaries/*
              - Effect: Allow
                Action: kms:Decrypt
                Resource: !GetAtt ArtifactsKMSKey.Arn
      Tags:
        - Key: Project
          Value: ExpertiseRAG

  MemgraphInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Roles:
        - !Ref MemgraphInstanceRole

  MemgraphEC2:
    Type: AWS::EC2::Instance
    Properties:
      InstanceType: !Ref MemgraphInstanceType
      # Spot instance – persistent request with stop-on-interruption so the
      # instance is automatically re-started when capacity is restored.
      # EBS data survives interruption; Memgraph resumes from disk on restart.
      # Typical saving vs on-demand: 50-70% for Graviton instance families.
      InstanceMarketOptions:
        MarketType: spot
        SpotOptions:
          SpotInstanceType: persistent
          InstanceInterruptionBehavior: stop
      ImageId: !If
        - MemgraphIsGraviton
        - '{{resolve:ssm:/aws/service/ami-amazon-linux-latest/al2023-ami-kernel-default-arm64}}'
        - '{{resolve:ssm:/aws/service/ami-amazon-linux-latest/al2023-ami-kernel-default-x86_64}}'
      SubnetId: !Ref PublicSubnet1
      SecurityGroupIds:
        - !Ref MemgraphSG
      IamInstanceProfile: !Ref MemgraphInstanceProfile
      KeyName: !If [HasEC2KeyPair, !Ref EC2KeyPairName, !Ref AWS::NoValue]
      UserData:
        Fn::Base64: !Sub |
          #!/bin/bash
          set -euo pipefail
          exec > /var/log/userdata.log 2>&1
          log() { echo "[$(date -u '+%Y-%m-%dT%H:%M:%SZ')] $*"; }

          log "=== UserData start ==="

          # --- EBS: resolve device (xvdf on Xen, nvme1n1 on Nitro) ---
          log "Waiting for EBS volume..."
          EBS_DEV=""
          for i in $(seq 1 30); do
            for dev in /dev/xvdf /dev/nvme1n1; do
              [ -b "$dev" ] && EBS_DEV="$dev" && break 2
            done
            sleep 2
          done
          [ -n "$EBS_DEV" ] || { log "ERROR: EBS device not found after 60s"; exit 1; }
          log "EBS device: $EBS_DEV"

          # Format only if filesystem is absent
          if ! blkid "$EBS_DEV" &>/dev/null; then
            log "Formatting $EBS_DEV as xfs..."
            mkfs.xfs "$EBS_DEV"
          fi

          mkdir -p /var/lib/memgraph
          mount "$EBS_DEV" /var/lib/memgraph
          grep -qF "$EBS_DEV" /etc/fstab \
            || echo "$EBS_DEV /var/lib/memgraph xfs defaults,nofail 0 2" >> /etc/fstab
          log "EBS mounted at /var/lib/memgraph"

          # Data dir ownership (memgraph container runs as UID 101)
          mkdir -p /var/lib/memgraph/data
          chown -R 101:101 /var/lib/memgraph
          log "Directories ready"

          # --- Docker ---
          log "Installing Docker..."
          dnf install -y docker
          systemctl enable --now docker
          log "Docker started"

          # --- Pull image with exponential-backoff retries ---
          log "Pulling memgraph/memgraph:3.8.1..."
          pulled=false
          for attempt in 1 2 3 4 5; do
            if docker pull memgraph/memgraph:3.8.1; then
              pulled=true
              break
            fi
            wait_sec=$((attempt * 15))
            log "Pull attempt $attempt failed; retrying in ${!wait_sec}s..."
            sleep ${!wait_sec}
          done
          ${!pulled} || { log "ERROR: docker pull failed after 5 attempts"; exit 1; }
          log "Image pulled"

          # --- Start Memgraph ---
          log "Starting Memgraph container..."
          docker run -d \
            --name memgraph \
            --restart=unless-stopped \
            -p 7687:7687 \
            -v /var/lib/memgraph:/var/lib/memgraph \
            memgraph/memgraph:3.8.1 \
            --bolt-address=0.0.0.0 \
            --bolt-port=7687 \
            --storage-properties-on-edges=true \
            --storage-snapshot-interval-sec=300 \
            --storage-wal-enabled=true \
            --data-recovery-on-startup=true \
            --also-log-to-stderr=true \
            --log-file=/var/log/memgraph/memgraph \
            --log-level=WARNING

          # --- Verify container is running ---
          sleep 5
          if docker ps --filter "name=^memgraph$" --filter "status=running" | grep -q memgraph; then
            log "Memgraph container running"
          else
            log "ERROR: Memgraph container not running after start"
            docker logs memgraph || true
            exit 1
          fi

          log "=== UserData complete ==="
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-memgraph-${Environment}
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  MemgraphEBSVolume:
    Type: AWS::EC2::Volume
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      AvailabilityZone: !Select [0, !GetAZs '']
      Size: !Ref MemgraphEBSSizeGB
      VolumeType: gp3
      Encrypted: true
      KmsKeyId: !Ref ArtifactsKMSKey
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-memgraph-data-${Environment}
        - Key: Project
          Value: ExpertiseRAG

  MemgraphEBSAttachment:
    Type: AWS::EC2::VolumeAttachment
    Properties:
      InstanceId: !Ref MemgraphEC2
      VolumeId: !Ref MemgraphEBSVolume
      Device: /dev/xvdf

  # ───────────────────────────────────────────
  # RDS PostgreSQL with pgvector
  # ───────────────────────────────────────────
  PostgresSubnetGroup:
    Type: AWS::RDS::DBSubnetGroup
    Properties:
      DBSubnetGroupDescription: ExpertiseRAG PostgreSQL subnet group
      SubnetIds:
        - !Ref PrivateSubnet1
        - !Ref PrivateSubnet2
      Tags:
        - Key: Project
          Value: ExpertiseRAG

  PostgresRDS:
    Type: AWS::RDS::DBInstance
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      DBInstanceIdentifier: !Sub expertise-rag-postgres-${Environment}
      DBInstanceClass: !Ref PostgresInstanceClass
      Engine: postgres
      EngineVersion: '16.6'
      DBName: !Ref PostgresDbName
      MasterUsername: !Ref PostgresUsername
      MasterUserPassword: !Sub '{{resolve:secretsmanager:${PostgresSecret}:SecretString:password}}'
      AllocatedStorage: '50'
      StorageType: gp3
      StorageEncrypted: true
      KmsKeyId: !Ref ArtifactsKMSKey
      MultiAZ: false
      PubliclyAccessible: false
      DBSubnetGroupName: !Ref PostgresSubnetGroup
      VPCSecurityGroups:
        - !Ref PostgresSG
      BackupRetentionPeriod: 7
      EnablePerformanceInsights: false
      EnableCloudwatchLogsExports:
        - postgresql
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # ───────────────────────────────────────────
  # S3 Bucket – raw uploads and derived artifacts
  # ───────────────────────────────────────────
  ArtifactsBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      BucketName: !Sub expertise-rag-artifacts-${AWS::AccountId}-${Environment}
      VersioningConfiguration:
        Status: Enabled
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: !Ref ArtifactsKMSKey
            BucketKeyEnabled: true
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      LifecycleConfiguration:
        Rules:
          - Id: TransitionNoncurrentToIA
            Status: Enabled
            NoncurrentVersionTransitions:
              - StorageClass: STANDARD_IA
                TransitionInDays: 30
            NoncurrentVersionExpirationInDays: 365
          - Id: CleanupIncompleteMultipartUploads
            Status: Enabled
            AbortIncompleteMultipartUpload:
              DaysAfterInitiation: 7
      NotificationConfiguration:
        LambdaConfigurations:
          - Event: s3:ObjectCreated:*
            Filter:
              S3Key:
                Rules:
                  - Name: prefix
                    Value: raw/
            Function: !GetAtt PreprocessorFunction.Arn
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  ArtifactsBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ArtifactsBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: DenyNonSSLRequests
            Effect: Deny
            Principal: '*'
            Action: s3:*
            Resource:
              - !GetAtt ArtifactsBucket.Arn
              - !Sub ${ArtifactsBucket.Arn}/*
            Condition:
              Bool:
                aws:SecureTransport: 'false'

  # Trigger permission: S3 → PreprocessorFunction
  PreprocessorS3InvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt PreprocessorFunction.Arn
      Action: lambda:InvokeFunction
      Principal: s3.amazonaws.com
      SourceArn: !Sub arn:aws:s3:::expertise-rag-artifacts-${AWS::AccountId}-${Environment}
      SourceAccount: !Ref AWS::AccountId

  # ───────────────────────────────────────────
  # CloudWatch Log Groups
  # ───────────────────────────────────────────
  PreprocessorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/expertise-rag-preprocessor-${Environment}
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  QueryAPILogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/expertise-rag-query-api-${Environment}
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  DBInitLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/expertise-rag-db-init-${Environment}
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  StepFunctionsLogGroup:
    Type: AWS::Logs::LogGroup
    Condition: DeployStepFunctions
    Properties:
      LogGroupName: !Sub /aws/states/expertise-rag-ingestion-${Environment}
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  ApiGatewayLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/apigateway/expertise-rag-${Environment}
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # ───────────────────────────────────────────
  # IAM Roles
  # ───────────────────────────────────────────

  # Shared inline policy for Lambda VPC networking
  LambdaVPCPolicy:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      ManagedPolicyName: !Sub expertise-rag-lambda-vpc-${Environment}
      Description: Allows Lambda to create/delete VPC ENIs
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - ec2:CreateNetworkInterface
              - ec2:DescribeNetworkInterfaces
              - ec2:DeleteNetworkInterface
              - ec2:AssignPrivateIpAddresses
              - ec2:UnassignPrivateIpAddresses
            Resource: '*'

  # Shared inline policy for Secrets Manager reads
  SecretsReadPolicy:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      ManagedPolicyName: !Sub expertise-rag-secrets-read-${Environment}
      Description: Allows ExpertiseRAG Lambdas to read DB secrets
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - secretsmanager:GetSecretValue
              - secretsmanager:DescribeSecret
            Resource:
              - !Ref MemgraphSecret
              - !Ref PostgresSecret

  # Role: Preprocessor Lambda
  PreprocessorRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub expertise-rag-preprocessor-${Environment}
      Description: Allows preprocessor Lambda to read/write S3, embed via Bedrock, write to Memgraph and pgvector
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
        - !Ref LambdaVPCPolicy
        - !Ref SecretsReadPolicy
      Policies:
        - PolicyName: S3ReadWriteDerived
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: ReadRaw
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:HeadObject
                Resource: !Sub arn:aws:s3:::expertise-rag-artifacts-${AWS::AccountId}-${Environment}/raw/*
              - Sid: WriteDerived
                Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:PutObjectTagging
                Resource: !Sub arn:aws:s3:::expertise-rag-artifacts-${AWS::AccountId}-${Environment}/derived/*
              - Sid: ListBucket
                Effect: Allow
                Action: s3:ListBucket
                Resource: !Sub arn:aws:s3:::expertise-rag-artifacts-${AWS::AccountId}-${Environment}
                Condition:
                  StringLike:
                    s3:prefix:
                      - raw/*
                      - derived/*
        - PolicyName: BedrockEmbeddings
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource:
                  - !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/amazon.titan-embed-text-v2:0
        - PolicyName: KMSDecryptEncrypt
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - kms:Decrypt
                  - kms:GenerateDataKey
                Resource: !GetAtt ArtifactsKMSKey.Arn
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # Role: Query API Lambda
  QueryAPIRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub expertise-rag-query-api-${Environment}
      Description: Allows Query API Lambda to embed via Bedrock, query Memgraph, and query pgvector
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
        - !Ref LambdaVPCPolicy
        - !Ref SecretsReadPolicy
      Policies:
        - PolicyName: BedrockInvokeModel
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: BedrockInvokeModel
                Effect: Allow
                Action:
                  - bedrock:InvokeModel
                  - bedrock:InvokeModelWithResponseStream
                Resource:
                  - arn:aws:bedrock:*::foundation-model/amazon.nova-pro-v1:0
                  - !Sub arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:inference-profile/us.amazon.nova-pro-v1:0
                  - !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/amazon.titan-embed-text-v2:0
        - PolicyName: S3ReadDerived
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource: !Sub ${ArtifactsBucket.Arn}/derived/*
        - PolicyName: KMSDecrypt
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - kms:Decrypt
                Resource: !GetAtt ArtifactsKMSKey.Arn
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # Role: DB Init Lambda
  DBInitRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub expertise-rag-db-init-${Environment}
      Description: Allows DB init Lambda to create pgvector schema and seed Memgraph routing graph
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
        - !Ref LambdaVPCPolicy
        - !Ref SecretsReadPolicy
      Policies:
        - PolicyName: S3FullAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: s3:*
                Resource:
                  - !GetAtt ArtifactsBucket.Arn
                  - !Sub ${ArtifactsBucket.Arn}/*
              - Effect: Allow
                Action:
                  - kms:GenerateDataKey
                  - kms:Decrypt
                Resource: !GetAtt ArtifactsKMSKey.Arn
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # Role: Step Functions
  StepFunctionsRole:
    Type: AWS::IAM::Role
    Condition: DeployStepFunctions
    Properties:
      RoleName: !Sub expertise-rag-sfn-${Environment}
      Description: Allows Step Functions ingestion state machine to invoke Lambdas
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: !Sub states.${AWS::Region}.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt PreprocessorFunction.Arn
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:PutLogEvents
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: '*'
        - PolicyName: XRayTracing
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                  - xray:GetSamplingRules
                  - xray:GetSamplingTargets
                Resource: '*'
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # ───────────────────────────────────────────
  # Lambda: Preprocessor
  # ───────────────────────────────────────────
  PreprocessorFunction:
    Type: AWS::Serverless::Function
    DependsOn: PreprocessorLogGroup
    Properties:
      FunctionName: !Sub expertise-rag-preprocessor-${Environment}
      Description: >
        Reads raw repo uploads from S3, extracts text, chunks and embeds content,
        writes to pgvector and Memgraph, then emits derived JSON artifacts to S3.
      CodeUri: src/
      Handler: preprocessor/handler.lambda_handler
      Role: !GetAtt PreprocessorRole.Arn
      Timeout: 600
      MemorySize: 1024
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSG
        SubnetIds:
          - !Ref PrivateSubnet1
          - !Ref PrivateSubnet2
      Environment:
        Variables:
          DERIVED_PREFIX: derived
          RAW_PREFIX: raw
      Events:
        StepFunctionsTrigger:
          Type: EventBridgeRule
          Properties:
            Pattern:
              source: [expertise-rag]
              detail-type: [PreprocessorRequest]

  # ───────────────────────────────────────────
  # Lambda: Query API
  # ───────────────────────────────────────────
  QueryAPIFunction:
    Type: AWS::Serverless::Function
    DependsOn: QueryAPILogGroup
    Properties:
      FunctionName: !Sub expertise-rag-query-api-${Environment}
      Description: >
        Reasoning API: classifies questions, retrieves from pgvector, expands
        graph-linked evidence via Memgraph, synthesizes answers, and returns
        structured expertise responses.
      CodeUri: src/
      Handler: query_api/handler.lambda_handler
      Role: !GetAtt QueryAPIRole.Arn
      Timeout: 60
      MemorySize: 512
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSG
        SubnetIds:
          - !Ref PrivateSubnet1
          - !Ref PrivateSubnet2
      Environment:
        Variables:
          GENERATION_MODEL_ID: !Ref GenerationModelId
          ENVIRONMENT: !Ref Environment
          LOG_LEVEL: DEBUG
          CACHE_SIMILARITY_THRESHOLD: "0.95"
          CACHE_TTL_DAYS: "7"
      Events:
        QueryExpertise:
          Type: HttpApi
          Properties:
            ApiId: !Ref ExpertiseAPI
            Path: /query-expertise
            Method: POST
        HealthCheck:
          Type: HttpApi
          Properties:
            ApiId: !Ref ExpertiseAPI
            Path: /health
            Method: GET
        CorsOptions:
          Type: HttpApi
          Properties:
            ApiId: !Ref ExpertiseAPI
            Path: /{proxy+}
            Method: OPTIONS

  # ───────────────────────────────────────────
  # Lambda: DB Initializer (replaces ingestion trigger)
  # ───────────────────────────────────────────
  DBInitFunction:
    Type: AWS::Serverless::Function
    DependsOn: DBInitLogGroup
    Properties:
      FunctionName: !Sub expertise-rag-db-init-${Environment}
      Description: >
        Creates pgvector schema in PostgreSQL and seeds the Memgraph routing graph
        with initial EFFECTIVE_FOR edge weights. Invoked as a CloudFormation custom
        resource after deployment and callable manually for re-seeding.
      CodeUri: src/
      Handler: ingestion_trigger/handler.lambda_handler
      Role: !GetAtt DBInitRole.Arn
      Timeout: 300
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSG
        SubnetIds:
          - !Ref PrivateSubnet1
          - !Ref PrivateSubnet2

  # ───────────────────────────────────────────
  # Attach RDS instance to secret so AWS injects host/port/engine
  # ───────────────────────────────────────────
  PostgresSecretAttachment:
    Type: AWS::SecretsManager::SecretTargetAttachment
    Properties:
      SecretId: !Ref PostgresSecret
      TargetId: !Ref PostgresRDS
      TargetType: AWS::RDS::DBInstance

  # ───────────────────────────────────────────
  # CloudFormation Custom Resource: post-deployment DB init
  # ───────────────────────────────────────────
  PostDeploymentDBInit:
    Type: AWS::CloudFormation::CustomResource
    DependsOn:
      - PostgresSecretAttachment
      - MemgraphEC2
      - MemgraphEBSAttachment
    Properties:
      ServiceToken: !GetAtt DBInitFunction.Arn
      TriggerReason: post-deployment

  # ───────────────────────────────────────────
  # HTTP API (API Gateway v2)
  # ───────────────────────────────────────────
  ExpertiseAPI:
    Type: AWS::Serverless::HttpApi
    Properties:
      StageName: !Ref Environment
      Description: ExpertiseRAG query API – POST /query-expertise
      AccessLogSettings:
        DestinationArn: !GetAtt ApiGatewayLogGroup.Arn
        Format: >
          {"requestId":"$context.requestId","ip":"$context.identity.sourceIp",
          "requestTime":"$context.requestTime","httpMethod":"$context.httpMethod",
          "routeKey":"$context.routeKey","status":"$context.status",
          "protocol":"$context.protocol","responseLength":"$context.responseLength",
          "integrationLatency":"$context.integrationLatency",
          "responseLatency":"$context.responseLatency"}
      DefaultRouteSettings:
        ThrottlingBurstLimit: 10
        ThrottlingRateLimit: 5
      CorsConfiguration:
        AllowHeaders:
          - Content-Type
          - Authorization
        AllowMethods:
          - POST
          - GET
          - OPTIONS
        AllowOrigins:
          - '*'
        MaxAge: 300
      Tags:
        Project: ExpertiseRAG
        Environment: !Ref Environment

  # ───────────────────────────────────────────
  # Step Functions: Ingestion Orchestration (simplified – no Bedrock polling)
  # ───────────────────────────────────────────
  IngestionStateMachine:
    Type: AWS::Serverless::StateMachine
    Condition: DeployStepFunctions
    Properties:
      Name: !Sub expertise-rag-ingestion-${Environment}
      Type: STANDARD
      Role: !GetAtt StepFunctionsRole.Arn
      Logging:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt StepFunctionsLogGroup.Arn
        IncludeExecutionData: true
        Level: ALL
      Tracing:
        Enabled: true
      Definition:
        Comment: >
          ExpertiseRAG ingestion orchestration – preprocesses raw S3 uploads,
          chunks text, generates embeddings, and writes to Memgraph and pgvector.
          No external polling required (all operations are synchronous).
        StartAt: PreprocessRawFiles
        States:
          PreprocessRawFiles:
            Type: Task
            Resource: !GetAtt PreprocessorFunction.Arn
            Parameters:
              repo_prefix.$: $.repo_prefix
              bucket.$: $.bucket
            ResultPath: $.preprocessor_output
            Retry:
              - ErrorEquals: [States.TaskFailed, Lambda.ServiceException]
                IntervalSeconds: 10
                MaxAttempts: 3
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: [States.ALL]
                Next: IngestionFailed
                ResultPath: $.error
            Next: IngestionSuccess

          IngestionSuccess:
            Type: Succeed

          IngestionFailed:
            Type: Fail
            Error: PreprocessingFailed
            Cause: ExpertiseRAG preprocessing did not complete successfully

      Tags:
        Project: ExpertiseRAG
        Environment: !Ref Environment

# ─────────────────────────────────────────────────────────────────────────────
# Outputs
# ─────────────────────────────────────────────────────────────────────────────
Outputs:
  ArtifactsBucketName:
    Description: S3 bucket for raw uploads and derived artifacts
    Value: !Ref ArtifactsBucket
    Export:
      Name: !Sub ${AWS::StackName}-ArtifactsBucket

  APIEndpoint:
    Description: ExpertiseRAG query API endpoint
    Value: !Sub https://${ExpertiseAPI}.execute-api.${AWS::Region}.amazonaws.com/${Environment}
    Export:
      Name: !Sub ${AWS::StackName}-APIEndpoint

  QueryExpertiseURL:
    Description: Full URL for the POST /query-expertise endpoint
    Value: !Sub https://${ExpertiseAPI}.execute-api.${AWS::Region}.amazonaws.com/${Environment}/query-expertise

  MemgraphInstanceId:
    Description: Memgraph EC2 instance ID
    Value: !Ref MemgraphEC2
    Export:
      Name: !Sub ${AWS::StackName}-MemgraphInstanceId

  MemgraphPrivateIP:
    Description: Memgraph EC2 private IP (update MemgraphSecret host after deploy)
    Value: !GetAtt MemgraphEC2.PrivateIp
    Export:
      Name: !Sub ${AWS::StackName}-MemgraphPrivateIP

  MemgraphSecretArn:
    Description: Secrets Manager ARN for Memgraph connection details
    Value: !Ref MemgraphSecret
    Export:
      Name: !Sub ${AWS::StackName}-MemgraphSecretArn

  PostgresEndpoint:
    Description: RDS PostgreSQL endpoint
    Value: !GetAtt PostgresRDS.Endpoint.Address
    Export:
      Name: !Sub ${AWS::StackName}-PostgresEndpoint

  PostgresSecretArn:
    Description: Secrets Manager ARN for PostgreSQL credentials
    Value: !Ref PostgresSecret
    Export:
      Name: !Sub ${AWS::StackName}-PostgresSecretArn

  VpcId:
    Description: VPC ID
    Value: !Ref VPC
    Export:
      Name: !Sub ${AWS::StackName}-VpcId

  IngestionStateMachineArn:
    Description: Step Functions ingestion state machine ARN
    Condition: DeployStepFunctions
    Value: !Ref IngestionStateMachine
    Export:
      Name: !Sub ${AWS::StackName}-IngestionStateMachine

  KMSKeyArn:
    Description: KMS key ARN for artifact encryption
    Value: !GetAtt ArtifactsKMSKey.Arn
