template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  ExpertiseRAG - AWS-native GraphRAG platform using Amazon Bedrock Knowledge Bases
  with OpenSearch Serverless for vector search and Memgraph Community (EC2/Docker)
  for graph traversal and adaptive routing intelligence.

# ─────────────────────────────────────────────────────────────────────────────
# Parameters
# ─────────────────────────────────────────────────────────────────────────────
Parameters:
  Environment:
    Type: String
    Default: dev
    AllowedValues: [dev, staging, prod]
    Description: Deployment environment

  EmbeddingDimension:
    Type: Number
    Default: 1024
    Description: >
      Vector dimension – MUST match Amazon Titan Text Embeddings V2 (1024).
      Must equal the dimension of the OpenSearch Serverless vector index.

  GenerationModelId:
    Type: String
    Default: us.amazon.nova-pro-v1:0
    Description: >
      Bedrock inference profile ID used by the Query API for answer synthesis.
      Must use cross-region inference profile (us. prefix) for on-demand throughput.
      Examples: us.amazon.nova-pro-v1:0 (AWS-native, no Marketplace required),
                us.anthropic.claude-3-7-sonnet-20250219-v1:0 (requires Marketplace subscription)

  LogRetentionDays:
    Type: Number
    Default: 30
    AllowedValues: [1, 3, 5, 7, 14, 30, 60, 90, 120, 150, 180, 365, 400, 545, 731, 1827, 3653]
    Description: CloudWatch log retention period in days

  EnableStepFunctions:
    Type: String
    Default: 'true'
    AllowedValues: ['true', 'false']
    Description: Deploy Step Functions ingestion orchestration state machine

  # ── Memgraph EC2 parameters ──────────────────────────────────────────────────
  KeyPairName:
    Type: String
    Default: ""
    Description: >
      EC2 Key Pair name for SSH access to the Memgraph instance.
      Leave empty to use SSM Session Manager only (AmazonSSMManagedInstanceCore).

  AllowedCidr:
    Type: String
    Default: "0.0.0.0/0"
    Description: >
      CIDR allowed for SSH (22), Bolt (7687), and Memgraph Lab UI (7444).
      Restrict to your IP range in production (e.g. 203.0.113.0/24).

  VpcCidr:
    Type: String
    Default: "10.10.0.0/16"
    Description: CIDR block for the Memgraph VPC

  SubnetCidr:
    Type: String
    Default: "10.10.1.0/24"
    Description: CIDR block for the Memgraph public subnet

  MemgraphDockerImage:
    Type: String
    Default: "memgraph/memgraph-platform:latest"
    Description: Docker image for Memgraph (platform edition includes Lab UI on port 7444)

# ─────────────────────────────────────────────────────────────────────────────
# Conditions
# ─────────────────────────────────────────────────────────────────────────────
Conditions:
  DeployStepFunctions: !Equals [!Ref EnableStepFunctions, 'true']
  HasKeyPair: !Not [!Equals [!Ref KeyPairName, ""]]

# ─────────────────────────────────────────────────────────────────────────────
# Globals
# ─────────────────────────────────────────────────────────────────────────────
Globals:
  Function:
    Runtime: python3.12
    Timeout: 300
    MemorySize: 512
    Tracing: Active
    Environment:
      Variables:
        POWERTOOLS_SERVICE_NAME: expertise-rag
        LOG_LEVEL: INFO
        ENVIRONMENT: !Ref Environment
        ARTIFACTS_BUCKET: !Sub expertise-rag-artifacts-${AWS::AccountId}-${Environment}
        MEMGRAPH_BOLT_URL: !Sub "bolt://${MemgraphEIP}:7687"
        KNOWLEDGE_BASE_ID: !Ref BedrockKnowledgeBase
        DATA_SOURCE_ID: !GetAtt BedrockDataSource.DataSourceId
    Tags:
      Project: ExpertiseRAG
      Environment: !Ref Environment

# ─────────────────────────────────────────────────────────────────────────────
# Resources
# ─────────────────────────────────────────────────────────────────────────────
Resources:

  # ───────────────────────────────────────────
  # KMS Key for encryption at rest
  # ───────────────────────────────────────────
  ArtifactsKMSKey:
    Type: AWS::KMS::Key
    Properties:
      Description: !Sub ExpertiseRAG S3 and Lambda encryption key (${Environment})
      EnableKeyRotation: true
      MultiRegion: false
      KeyPolicy:
        Version: '2012-10-17'
        Statement:
          - Sid: AllowRootAccount
            Effect: Allow
            Principal:
              AWS: !Sub arn:aws:iam::${AWS::AccountId}:root
            Action: kms:*
            Resource: '*'
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  ArtifactsKMSKeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub alias/expertise-rag-${Environment}
      TargetKeyId: !Ref ArtifactsKMSKey

  # ───────────────────────────────────────────
  # S3 Bucket – raw uploads and derived artifacts
  # ───────────────────────────────────────────
  ArtifactsBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      BucketName: !Sub expertise-rag-artifacts-${AWS::AccountId}-${Environment}
      VersioningConfiguration:
        Status: Enabled
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: !Ref ArtifactsKMSKey
            BucketKeyEnabled: true
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      LifecycleConfiguration:
        Rules:
          - Id: TransitionNoncurrentToIA
            Status: Enabled
            NoncurrentVersionTransitions:
              - StorageClass: STANDARD_IA
                TransitionInDays: 30
            NoncurrentVersionExpirationInDays: 365
          - Id: CleanupIncompleteMultipartUploads
            Status: Enabled
            AbortIncompleteMultipartUpload:
              DaysAfterInitiation: 7
      NotificationConfiguration:
        LambdaConfigurations:
          - Event: s3:ObjectCreated:*
            Filter:
              S3Key:
                Rules:
                  - Name: prefix
                    Value: raw/
            Function: !GetAtt PreprocessorFunction.Arn
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  ArtifactsBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ArtifactsBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: DenyNonSSLRequests
            Effect: Deny
            Principal: '*'
            Action: s3:*
            Resource:
              - !GetAtt ArtifactsBucket.Arn
              - !Sub ${ArtifactsBucket.Arn}/*
            Condition:
              Bool:
                aws:SecureTransport: 'false'
          - Sid: AllowBedrockKnowledgeBaseRead
            Effect: Allow
            Principal:
              AWS: !GetAtt BedrockKnowledgeBaseRole.Arn
            Action:
              - s3:GetObject
              - s3:ListBucket
            Resource:
              - !GetAtt ArtifactsBucket.Arn
              - !Sub ${ArtifactsBucket.Arn}/*

  # Trigger permission: S3 → PreprocessorFunction
  PreprocessorS3InvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt PreprocessorFunction.Arn
      Action: lambda:InvokeFunction
      Principal: s3.amazonaws.com
      SourceArn: !Sub arn:aws:s3:::expertise-rag-artifacts-${AWS::AccountId}-${Environment}
      SourceAccount: !Ref AWS::AccountId

  # ───────────────────────────────────────────
  # OpenSearch Serverless – vector store for Bedrock Knowledge Base
  # Replaces Neptune Analytics as the KB storage backend.
  # Memgraph (EC2/Docker) handles graph traversal and routing intelligence.
  # ───────────────────────────────────────────

  OpenSearchEncryptionPolicy:
    Type: AWS::OpenSearchServerless::SecurityPolicy
    Properties:
      Name: !Sub expertise-rag-enc-${Environment}
      Type: encryption
      Description: SSE with AWS-owned key for ExpertiseRAG OpenSearch collection
      Policy: !Sub >-
        {"Rules":[{"ResourceType":"collection","Resource":["collection/expertise-rag-${Environment}"]}],"AWSOwnedKey":true}

  OpenSearchNetworkPolicy:
    Type: AWS::OpenSearchServerless::SecurityPolicy
    Properties:
      Name: !Sub expertise-rag-net-${Environment}
      Type: network
      Description: Public access for ExpertiseRAG OpenSearch collection (Bedrock KB ingestion)
      Policy: !Sub >-
        [{"Rules":[{"ResourceType":"collection","Resource":["collection/expertise-rag-${Environment}"]},{"ResourceType":"dashboard","Resource":["collection/expertise-rag-${Environment}"]}],"AllowFromPublic":true}]

  OpenSearchAccessPolicy:
    Type: AWS::OpenSearchServerless::AccessPolicy
    Properties:
      Name: !Sub expertise-rag-access-${Environment}
      Type: data
      Description: Grants Bedrock KB role full index + document access for ingestion and retrieval
      Policy: !Sub >-
        [{"Description":"BedrockKB index and document access","Rules":[{"ResourceType":"index","Resource":["index/expertise-rag-${Environment}/*"],"Permission":["aoss:CreateIndex","aoss:DeleteIndex","aoss:UpdateIndex","aoss:DescribeIndex","aoss:ReadDocument","aoss:WriteDocument"]},{"ResourceType":"collection","Resource":["collection/expertise-rag-${Environment}"],"Permission":["aoss:CreateCollectionItems","aoss:DeleteCollectionItems","aoss:UpdateCollectionItems","aoss:DescribeCollectionItems"]}],"Principal":["${BedrockKnowledgeBaseRole.Arn}"]}]

  OpenSearchCollection:
    Type: AWS::OpenSearchServerless::Collection
    DependsOn:
      - OpenSearchEncryptionPolicy
      - OpenSearchNetworkPolicy
    Properties:
      Name: !Sub expertise-rag-${Environment}
      Type: VECTORSEARCH
      Description: ExpertiseRAG vector search collection for Bedrock Knowledge Base
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # ───────────────────────────────────────────
  # Bedrock Knowledge Base (OpenSearch Serverless vector store)
  # ───────────────────────────────────────────
  BedrockKnowledgeBase:
    Type: AWS::Bedrock::KnowledgeBase
    DependsOn: OpenSearchAccessPolicy
    Properties:
      Name: !Sub expertise-rag-kb-${Environment}
      Description: >
        ExpertiseRAG knowledge base – ingests developer expertise artifacts (repos,
        architecture docs, resume) and enables GraphRAG queries via OpenSearch Serverless
        vector search and Memgraph graph traversal.
      RoleArn: !GetAtt BedrockKnowledgeBaseRole.Arn
      KnowledgeBaseConfiguration:
        Type: VECTOR
        VectorKnowledgeBaseConfiguration:
          EmbeddingModelArn: !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/amazon.titan-embed-text-v2:0
          EmbeddingModelConfiguration:
            BedrockEmbeddingModelConfiguration:
              # Must match EmbeddingDimension parameter
              Dimensions: !Ref EmbeddingDimension
      StorageConfiguration:
        Type: OPENSEARCH_SERVERLESS
        OpensearchServerlessConfiguration:
          CollectionArn: !GetAtt OpenSearchCollection.Arn
          VectorIndexName: bedrock-knowledge-base-default-index
          FieldMapping:
            MetadataField: AMAZON_BEDROCK_METADATA
            TextField: AMAZON_BEDROCK_TEXT_CHUNK
            VectorField: bedrock-knowledge-base-default-vector
      Tags:
        Project: ExpertiseRAG
        Environment: !Ref Environment

  # ───────────────────────────────────────────
  # Bedrock Data Source – S3 (raw/ + derived/)
  # ───────────────────────────────────────────
  BedrockDataSource:
    Type: AWS::Bedrock::DataSource
    Properties:
      KnowledgeBaseId: !Ref BedrockKnowledgeBase
      Name: !Sub expertise-rag-s3-source-${Environment}
      Description: >
        S3 data source covering raw/ (original uploads) and derived/ (preprocessor output).
      DataSourceConfiguration:
        Type: S3
        S3Configuration:
          BucketArn: !Sub arn:aws:s3:::expertise-rag-artifacts-${AWS::AccountId}-${Environment}
          InclusionPrefixes:
            - raw/
      VectorIngestionConfiguration:
        ChunkingConfiguration:
          ChunkingStrategy: HIERARCHICAL
          HierarchicalChunkingConfiguration:
            LevelConfigurations:
              - MaxTokens: 1500  # Parent chunks – full section context
              - MaxTokens: 300   # Child chunks – precise retrieval units
            OverlapTokens: 60
        ParsingConfiguration:
          ParsingStrategy: BEDROCK_FOUNDATION_MODEL
          BedrockFoundationModelConfiguration:
            ModelArn: !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/anthropic.claude-3-haiku-20240307-v1:0
            ParsingPrompt:
              ParsingPromptText: |
                Extract all technical content from this document. Focus on:
                - Programming languages, frameworks, and libraries
                - AWS services and cloud architecture patterns
                - Design patterns and engineering decisions
                - Measurable outcomes and accomplishments
                - Architecture component relationships (from PlantUML diagrams, describe as text)
                - Expertise signals, skill depth indicators, and technology preferences
                Preserve technical terminology exactly. Output clean structured text.
        ContextEnrichmentConfiguration:
          Type: BEDROCK_FOUNDATION_MODEL
          BedrockFoundationModelConfiguration:
            ModelArn: !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/anthropic.claude-3-haiku-20240307-v1:0
            EnrichmentStrategyConfiguration:
              Method: CHUNK_ENTITY_EXTRACTION

  # ───────────────────────────────────────────
  # Memgraph – VPC and Networking
  # ───────────────────────────────────────────
  MemgraphVPC:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: !Ref VpcCidr
      EnableDnsHostnames: true
      EnableDnsSupport: true
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-memgraph-vpc-${Environment}
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  MemgraphSubnet:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref MemgraphVPC
      CidrBlock: !Ref SubnetCidr
      MapPublicIpOnLaunch: false
      AvailabilityZone: !Select [0, !GetAZs ""]
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-memgraph-subnet-${Environment}
        - Key: Project
          Value: ExpertiseRAG

  MemgraphIGW:
    Type: AWS::EC2::InternetGateway
    Properties:
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-memgraph-igw-${Environment}
        - Key: Project
          Value: ExpertiseRAG

  MemgraphVPCGatewayAttachment:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      VpcId: !Ref MemgraphVPC
      InternetGatewayId: !Ref MemgraphIGW

  MemgraphRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref MemgraphVPC
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-memgraph-rt-${Environment}
        - Key: Project
          Value: ExpertiseRAG

  MemgraphDefaultRoute:
    Type: AWS::EC2::Route
    DependsOn: MemgraphVPCGatewayAttachment
    Properties:
      RouteTableId: !Ref MemgraphRouteTable
      DestinationCidrBlock: "0.0.0.0/0"
      GatewayId: !Ref MemgraphIGW

  MemgraphSubnetRouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref MemgraphSubnet
      RouteTableId: !Ref MemgraphRouteTable

  # ───────────────────────────────────────────
  # Memgraph – Security Group
  # Memgraph Community has no auth; the Security Group is the sole access control.
  # ───────────────────────────────────────────
  MemgraphSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "Memgraph EC2 – SSH (22), Bolt (7687), Lab UI (7444)"
      VpcId: !Ref MemgraphVPC
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          CidrIp: !Ref AllowedCidr
          Description: SSH access
        - IpProtocol: tcp
          FromPort: 7687
          ToPort: 7687
          CidrIp: !Ref AllowedCidr
          Description: Memgraph Bolt protocol
        - IpProtocol: tcp
          FromPort: 7444
          ToPort: 7444
          CidrIp: !Ref AllowedCidr
          Description: Memgraph Lab UI
      SecurityGroupEgress:
        - IpProtocol: "-1"
          CidrIp: "0.0.0.0/0"
          Description: All outbound traffic
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-memgraph-sg-${Environment}
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # ───────────────────────────────────────────
  # Memgraph – IAM Role + Instance Profile
  # ───────────────────────────────────────────
  MemgraphInstanceRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub expertise-rag-memgraph-instance-${Environment}
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
      Policies:
        - PolicyName: MemgraphSSMAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ssm:PutParameter
                  - ssm:GetParameter
                Resource: !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/memgraph/*"
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  MemgraphInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      InstanceProfileName: !Sub expertise-rag-memgraph-profile-${Environment}
      Roles:
        - !Ref MemgraphInstanceRole

  # ───────────────────────────────────────────
  # Memgraph – EC2 Instance (t4g.micro, ARM64, Ubuntu 24.04)
  # Docker Compose runs memgraph/memgraph-platform with WAL + snapshots.
  # mem_limit=700m is intentional for t4g.micro (1 GB RAM).
  # ───────────────────────────────────────────
  MemgraphEC2Instance:
    Type: AWS::EC2::Instance
    DependsOn: MemgraphVPCGatewayAttachment
    CreationPolicy:
      ResourceSignal:
        Timeout: PT10M
    Properties:
      # Latest Ubuntu 24.04 ARM64 – resolved from SSM public parameter at deploy time
      ImageId: "{{resolve:ssm:/aws/service/canonical/ubuntu/server/24.04/stable/current/arm64/hvm/ebs-gp2/ami-id}}"
      InstanceType: t4g.micro
      KeyName: !If [HasKeyPair, !Ref KeyPairName, !Ref AWS::NoValue]
      IamInstanceProfile: !Ref MemgraphInstanceProfile
      SubnetId: !Ref MemgraphSubnet
      SecurityGroupIds:
        - !Ref MemgraphSecurityGroup
      BlockDeviceMappings:
        - DeviceName: /dev/sda1
          Ebs:
            VolumeSize: 20
            VolumeType: gp3
            DeleteOnTermination: true
      UserData:
        Fn::Base64:
          Fn::Sub: |
            #!/bin/bash
            set -euxo pipefail

            # 1. System update
            apt-get update -y && apt-get upgrade -y

            # 2. Install Docker (official repo, ARM64-safe)
            apt-get install -y ca-certificates curl gnupg lsb-release
            install -m 0755 -d /etc/apt/keyrings
            curl -fsSL https://download.docker.com/linux/ubuntu/gpg \
              | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
            chmod a+r /etc/apt/keyrings/docker.gpg
            echo \
              "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] \
              https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" \
              > /etc/apt/sources.list.d/docker.list
            apt-get update -y
            apt-get install -y docker-ce docker-ce-cli containerd.io docker-compose-plugin

            systemctl enable docker && systemctl start docker
            usermod -aG docker ubuntu

            # 3. Write docker-compose.yml
            # ${MemgraphDockerImage} is substituted by CloudFormation Fn::Sub before
            # bash executes; the quoted heredoc delimiter prevents a second expansion.
            mkdir -p /opt/memgraph
            cat > /opt/memgraph/docker-compose.yml <<'COMPOSE'
            version: "3.8"
            services:
              memgraph:
                image: ${MemgraphDockerImage}
                container_name: memgraph
                restart: always
                ports:
                  - "7687:7687"
                  - "7444:7444"
                volumes:
                  - mg_data:/var/lib/memgraph
                  - mg_log:/var/log/memgraph
                  - mg_etc:/etc/memgraph
                environment:
                  - MEMGRAPH_TELEMETRY_ENABLED=false
                command: >
                  --log-level=WARNING
                  --storage-snapshot-interval-sec=300
                  --storage-wal-enabled=true
                  --storage-snapshot-on-exit=true
                  --storage-recover-on-startup=true
                mem_limit: 700m
                memswap_limit: 700m
            volumes:
              mg_data:
              mg_log:
              mg_etc:
            COMPOSE

            # 4. Start Memgraph
            cd /opt/memgraph && docker compose up -d

            # 5. Wait for Bolt to be ready (up to 30 × 5 s = 150 s)
            for i in $(seq 1 30); do
              if docker exec memgraph mgconsole --no-history \
                   --execute "RETURN 1;" > /dev/null 2>&1; then
                echo "Memgraph ready after ${!i} attempts."
                break
              fi
              sleep 5
            done

            # 6. Signal CloudFormation
            pip3 install \
              https://s3.amazonaws.com/cloudformation-examples/aws-cfn-bootstrap-py3-latest.tar.gz \
              --break-system-packages
            /usr/local/bin/cfn-signal \
              --exit-code $? \
              --stack "${AWS::StackName}" \
              --resource MemgraphEC2Instance \
              --region "${AWS::Region}"
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-memgraph-${Environment}
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # ───────────────────────────────────────────
  # Memgraph – Elastic IP + SSM Parameters
  # ───────────────────────────────────────────
  MemgraphEIP:
    Type: AWS::EC2::EIP
    Properties:
      Domain: vpc
      Tags:
        - Key: Name
          Value: !Sub expertise-rag-memgraph-eip-${Environment}
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  MemgraphEIPAssociation:
    Type: AWS::EC2::EIPAssociation
    Properties:
      InstanceId: !Ref MemgraphEC2Instance
      EIP: !Ref MemgraphEIP

  SSMParamMemgraphHost:
    Type: AWS::SSM::Parameter
    Properties:
      Name: /memgraph/host
      Type: String
      Value: !Ref MemgraphEIP
      Description: Memgraph public IP address (Elastic IP)

  SSMParamMemgraphPort:
    Type: AWS::SSM::Parameter
    Properties:
      Name: /memgraph/port
      Type: String
      Value: "7687"
      Description: Memgraph Bolt port

  SSMParamMemgraphBoltURL:
    Type: AWS::SSM::Parameter
    Properties:
      Name: /memgraph/bolt_url
      Type: String
      Value: !Sub "bolt://${MemgraphEIP}:7687"
      Description: Memgraph Bolt connection URL

  # ───────────────────────────────────────────
  # CloudWatch Log Groups
  # ───────────────────────────────────────────
  PreprocessorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/expertise-rag-preprocessor-${Environment}
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  QueryAPILogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/expertise-rag-query-api-${Environment}
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  IngestionTriggerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/expertise-rag-ingestion-trigger-${Environment}
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  StepFunctionsLogGroup:
    Type: AWS::Logs::LogGroup
    Condition: DeployStepFunctions
    Properties:
      LogGroupName: !Sub /aws/states/expertise-rag-ingestion-${Environment}
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  ApiGatewayLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/apigateway/expertise-rag-${Environment}
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # ───────────────────────────────────────────
  # IAM Roles
  # ───────────────────────────────────────────

  # Role: Preprocessor Lambda
  PreprocessorRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub expertise-rag-preprocessor-${Environment}
      Description: Allows preprocessor Lambda to read/write S3 and log to CloudWatch
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
      Policies:
        - PolicyName: S3ReadWriteDerived
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: ReadRaw
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:HeadObject
                Resource: !Sub arn:aws:s3:::expertise-rag-artifacts-${AWS::AccountId}-${Environment}/raw/*
              - Sid: WriteDerived
                Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:PutObjectTagging
                Resource: !Sub arn:aws:s3:::expertise-rag-artifacts-${AWS::AccountId}-${Environment}/derived/*
              - Sid: ListBucket
                Effect: Allow
                Action: s3:ListBucket
                Resource: !Sub arn:aws:s3:::expertise-rag-artifacts-${AWS::AccountId}-${Environment}
                Condition:
                  StringLike:
                    s3:prefix:
                      - raw/*
                      - derived/*
        - PolicyName: KMSDecryptEncrypt
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - kms:Decrypt
                  - kms:GenerateDataKey
                Resource: !GetAtt ArtifactsKMSKey.Arn
        - PolicyName: MemgraphSSMRead
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ssm:GetParameter
                Resource: !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/memgraph/*"
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # Role: Query API Lambda
  QueryAPIRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub expertise-rag-query-api-${Environment}
      Description: Allows Query API Lambda to call Bedrock Retrieve, OpenSearch Serverless, and Memgraph
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
      Policies:
        - PolicyName: BedrockRetrieveAndGenerate
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: BedrockRetrieve
                Effect: Allow
                Action:
                  - bedrock:Retrieve
                  - bedrock:RetrieveAndGenerate
                Resource: !GetAtt BedrockKnowledgeBase.KnowledgeBaseArn
              - Sid: BedrockInvokeModel
                Effect: Allow
                Action:
                  - bedrock:InvokeModel
                  - bedrock:InvokeModelWithResponseStream
                Resource:
                  - arn:aws:bedrock:*::foundation-model/amazon.nova-pro-v1:0
                  - !Sub arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:inference-profile/us.amazon.nova-pro-v1:0
        - PolicyName: S3ReadDerived
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource: !Sub ${ArtifactsBucket.Arn}/derived/*
        - PolicyName: KMSDecrypt
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - kms:Decrypt
                Resource: !GetAtt ArtifactsKMSKey.Arn
        - PolicyName: MemgraphSSMRead
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ssm:GetParameter
                Resource: !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/memgraph/*"
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # Role: Ingestion Trigger Lambda (custom resource + post-upload)
  IngestionTriggerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub expertise-rag-ingestion-trigger-${Environment}
      Description: Allows ingestion trigger Lambda to start Bedrock ingestion jobs and seed Memgraph routing graph
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
      Policies:
        - PolicyName: BedrockIngestion
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: StartAndQueryIngestionJob
                Effect: Allow
                Action:
                  - bedrock:StartIngestionJob
                  - bedrock:GetIngestionJob
                  - bedrock:ListIngestionJobs
                Resource: !GetAtt BedrockKnowledgeBase.KnowledgeBaseArn
        - PolicyName: S3ListRead
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:GetObject
                Resource:
                  - !GetAtt ArtifactsBucket.Arn
                  - !Sub ${ArtifactsBucket.Arn}/*
        - PolicyName: MemgraphSSMRead
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ssm:GetParameter
                Resource: !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/memgraph/*"
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # Role: Bedrock Knowledge Base Service Role
  BedrockKnowledgeBaseRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub expertise-rag-bedrock-kb-${Environment}
      Description: Allows Amazon Bedrock Knowledge Base to access S3 and OpenSearch Serverless
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: bedrock.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref AWS::AccountId
              ArnLike:
                aws:SourceArn: !Sub arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:knowledge-base/*
      Policies:
        - PolicyName: S3ReadForIngestion
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: ListBucket
                Effect: Allow
                Action: s3:ListBucket
                Resource: !Sub arn:aws:s3:::expertise-rag-artifacts-${AWS::AccountId}-${Environment}
              - Sid: GetObjects
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:HeadObject
                Resource: !Sub arn:aws:s3:::expertise-rag-artifacts-${AWS::AccountId}-${Environment}/*
        - PolicyName: OpenSearchServerlessAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - aoss:APIAccessAll
                Resource: !GetAtt OpenSearchCollection.Arn
        - PolicyName: BedrockEmbeddings
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource:
                  - !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/amazon.titan-embed-text-v2:0
                  - !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/anthropic.claude-3-haiku-20240307-v1:0
        - PolicyName: KMSForS3
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - kms:Decrypt
                  - kms:GenerateDataKey
                Resource: !GetAtt ArtifactsKMSKey.Arn
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # Role: Step Functions
  StepFunctionsRole:
    Type: AWS::IAM::Role
    Condition: DeployStepFunctions
    Properties:
      RoleName: !Sub expertise-rag-sfn-${Environment}
      Description: Allows Step Functions ingestion state machine to invoke Lambdas
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: !Sub states.${AWS::Region}.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt PreprocessorFunction.Arn
                  - !GetAtt IngestionTriggerFunction.Arn
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:PutLogEvents
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: '*'
        - PolicyName: XRayTracing
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                  - xray:GetSamplingRules
                  - xray:GetSamplingTargets
                Resource: '*'
      Tags:
        - Key: Project
          Value: ExpertiseRAG
        - Key: Environment
          Value: !Ref Environment

  # ───────────────────────────────────────────
  # Lambda: Preprocessor
  # ───────────────────────────────────────────
  PreprocessorFunction:
    Type: AWS::Serverless::Function
    DependsOn: PreprocessorLogGroup
    Properties:
      FunctionName: !Sub expertise-rag-preprocessor-${Environment}
      Description: >
        Reads raw repo uploads from S3, extracts text from Markdown/YAML,
        transforms PlantUML to architecture summaries, and emits derived
        JSON (expertise signals, graph entities, graph edges) back to S3.
        Graph entities are written to Memgraph via Bolt (MEMGRAPH_BOLT_URL).
      CodeUri: src/preprocessor/
      Handler: handler.lambda_handler
      Role: !GetAtt PreprocessorRole.Arn
      Timeout: 600
      MemorySize: 1024
      Environment:
        Variables:
          DERIVED_PREFIX: derived
          RAW_PREFIX: raw
      Events:
        # Also triggered directly by S3 via bucket notification (see ArtifactsBucket)
        StepFunctionsTrigger:
          Type: EventBridgeRule
          Properties:
            Pattern:
              source: [expertise-rag]
              detail-type: [PreprocessorRequest]

  # ───────────────────────────────────────────
  # Lambda: Query API
  # ───────────────────────────────────────────
  QueryAPIFunction:
    Type: AWS::Serverless::Function
    DependsOn: QueryAPILogGroup
    Properties:
      FunctionName: !Sub expertise-rag-query-api-${Environment}
      Description: >
        Reasoning API: classifies questions, calls Bedrock Retrieve (OpenSearch Serverless),
        expands graph-linked evidence via Memgraph Bolt, synthesizes answers with
        evidence weighting, and returns structured expertise responses.
      CodeUri: src/query_api/
      Handler: handler.lambda_handler
      Role: !GetAtt QueryAPIRole.Arn
      Timeout: 60
      MemorySize: 512
      Environment:
        Variables:
          GENERATION_MODEL_ID: !Ref GenerationModelId
          KNOWLEDGE_BASE_ID: !Ref BedrockKnowledgeBase
          MEMGRAPH_BOLT_URL: !Sub "bolt://${MemgraphEIP}:7687"
          ENVIRONMENT: !Ref Environment
          LOG_LEVEL: INFO
      Events:
        QueryExpertise:
          Type: HttpApi
          Properties:
            ApiId: !Ref ExpertiseAPI
            Path: /query-expertise
            Method: POST
        HealthCheck:
          Type: HttpApi
          Properties:
            ApiId: !Ref ExpertiseAPI
            Path: /health
            Method: GET

  # ───────────────────────────────────────────
  # Lambda: Ingestion Trigger (custom resource + post-deployment)
  # ───────────────────────────────────────────
  IngestionTriggerFunction:
    Type: AWS::Serverless::Function
    DependsOn: IngestionTriggerLogGroup
    Properties:
      FunctionName: !Sub expertise-rag-ingestion-trigger-${Environment}
      Description: >
        Starts a Bedrock Knowledge Base ingestion job and seeds the Memgraph routing graph
        with initial EFFECTIVE_FOR prior weights. Invoked as a CloudFormation custom resource
        after deployment and callable manually / via Step Functions after new uploads.
      CodeUri: src/ingestion_trigger/
      Handler: handler.lambda_handler
      Role: !GetAtt IngestionTriggerRole.Arn
      Timeout: 900  # 15 min – ingestion can take a while

  # ───────────────────────────────────────────
  # CloudFormation Custom Resource: post-deployment ingestion
  # ───────────────────────────────────────────
  PostDeploymentIngestionJob:
    Type: AWS::CloudFormation::CustomResource
    Properties:
      ServiceToken: !GetAtt IngestionTriggerFunction.Arn
      KnowledgeBaseId: !Ref BedrockKnowledgeBase
      DataSourceId: !GetAtt BedrockDataSource.DataSourceId
      TriggerReason: post-deployment

  # ───────────────────────────────────────────
  # HTTP API (API Gateway v2)
  # ───────────────────────────────────────────
  ExpertiseAPI:
    Type: AWS::Serverless::HttpApi
    Properties:
      StageName: !Ref Environment
      Description: ExpertiseRAG query API – POST /query-expertise
      AccessLogSettings:
        DestinationArn: !GetAtt ApiGatewayLogGroup.Arn
        Format: >
          {"requestId":"$context.requestId","ip":"$context.identity.sourceIp",
          "requestTime":"$context.requestTime","httpMethod":"$context.httpMethod",
          "routeKey":"$context.routeKey","status":"$context.status",
          "protocol":"$context.protocol","responseLength":"$context.responseLength",
          "integrationLatency":"$context.integrationLatency",
          "responseLatency":"$context.responseLatency"}
      DefaultRouteSettings:
        ThrottlingBurstLimit: 10
        ThrottlingRateLimit: 5
      CorsConfiguration:
        AllowHeaders:
          - Content-Type
          - Authorization
        AllowMethods:
          - POST
          - GET
          - OPTIONS
        AllowOrigins:
          - '*'
      Tags:
        Project: ExpertiseRAG
        Environment: !Ref Environment

  # ───────────────────────────────────────────
  # Step Functions: Ingestion Orchestration
  # ───────────────────────────────────────────
  IngestionStateMachine:
    Type: AWS::Serverless::StateMachine
    Condition: DeployStepFunctions
    Properties:
      Name: !Sub expertise-rag-ingestion-${Environment}
      Type: STANDARD
      Role: !GetAtt StepFunctionsRole.Arn
      Logging:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt StepFunctionsLogGroup.Arn
        IncludeExecutionData: true
        Level: ALL
      Tracing:
        Enabled: true
      Definition:
        Comment: >
          ExpertiseRAG ingestion orchestration – preprocesses raw S3 uploads,
          triggers Bedrock KB ingestion, and polls until complete.
        StartAt: PreprocessRawFiles
        States:
          PreprocessRawFiles:
            Type: Task
            Resource: !GetAtt PreprocessorFunction.Arn
            Parameters:
              repo_prefix.$: $.repo_prefix
              bucket.$: $.bucket
              trigger_source.$: $.trigger_source
            ResultPath: $.preprocessor_output
            Retry:
              - ErrorEquals: [States.TaskFailed, Lambda.ServiceException]
                IntervalSeconds: 10
                MaxAttempts: 3
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: [States.ALL]
                Next: IngestionFailed
                ResultPath: $.error
            Next: StartIngestionJob

          StartIngestionJob:
            Type: Task
            Resource: !GetAtt IngestionTriggerFunction.Arn
            Parameters:
              action: start
              knowledge_base_id.$: $.knowledge_base_id
              data_source_id.$: $.data_source_id
            ResultPath: $.ingestion_job
            Retry:
              - ErrorEquals: [States.TaskFailed]
                IntervalSeconds: 5
                MaxAttempts: 3
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: [States.ALL]
                Next: IngestionFailed
                ResultPath: $.error
            Next: WaitForIngestion

          WaitForIngestion:
            Type: Wait
            Seconds: 30
            Next: CheckIngestionStatus

          CheckIngestionStatus:
            Type: Task
            Resource: !GetAtt IngestionTriggerFunction.Arn
            Parameters:
              action: status
              knowledge_base_id.$: $.knowledge_base_id
              data_source_id.$: $.data_source_id
              ingestion_job_id.$: $.ingestion_job.ingestion_job_id
            ResultPath: $.ingestion_status
            Retry:
              - ErrorEquals: [States.TaskFailed]
                IntervalSeconds: 5
                MaxAttempts: 3
                BackoffRate: 2.0
            Next: IsIngestionComplete

          IsIngestionComplete:
            Type: Choice
            Choices:
              - Variable: $.ingestion_status.status
                StringEquals: COMPLETE
                Next: IngestionSuccess
              - Variable: $.ingestion_status.status
                StringEquals: FAILED
                Next: IngestionFailed
            Default: WaitForIngestion

          IngestionSuccess:
            Type: Succeed

          IngestionFailed:
            Type: Fail
            Error: IngestionJobFailed
            Cause: Bedrock Knowledge Base ingestion job did not complete successfully

      Tags:
        Project: ExpertiseRAG
        Environment: !Ref Environment

# ─────────────────────────────────────────────────────────────────────────────
# Outputs
# ─────────────────────────────────────────────────────────────────────────────
Outputs:
  ArtifactsBucketName:
    Description: S3 bucket for raw uploads and derived artifacts
    Value: !Ref ArtifactsBucket
    Export:
      Name: !Sub ${AWS::StackName}-ArtifactsBucket

  APIEndpoint:
    Description: ExpertiseRAG query API endpoint
    Value: !Sub https://${ExpertiseAPI}.execute-api.${AWS::Region}.amazonaws.com/${Environment}
    Export:
      Name: !Sub ${AWS::StackName}-APIEndpoint

  QueryExpertiseURL:
    Description: Full URL for the POST /query-expertise endpoint
    Value: !Sub https://${ExpertiseAPI}.execute-api.${AWS::Region}.amazonaws.com/${Environment}/query-expertise

  MemgraphPublicIP:
    Description: Memgraph EC2 public IP (Elastic IP)
    Value: !Ref MemgraphEIP
    Export:
      Name: !Sub ${AWS::StackName}-MemgraphPublicIP

  MemgraphBoltURL:
    Description: Memgraph Bolt connection URL (used by all Lambda functions via MEMGRAPH_BOLT_URL env var)
    Value: !Sub "bolt://${MemgraphEIP}:7687"
    Export:
      Name: !Sub ${AWS::StackName}-MemgraphBoltURL

  MemgraphLabURL:
    Description: Memgraph Lab UI URL
    Value: !Sub "http://${MemgraphEIP}:7444"

  MemgraphSSMSessionCommand:
    Description: SSM Session Manager connect command (no SSH key required)
    Value: !Sub "aws ssm start-session --target ${MemgraphEC2Instance}"

  OpenSearchCollectionArn:
    Description: OpenSearch Serverless collection ARN (Bedrock KB vector store)
    Value: !GetAtt OpenSearchCollection.Arn
    Export:
      Name: !Sub ${AWS::StackName}-OpenSearchCollectionArn

  KnowledgeBaseId:
    Description: Bedrock Knowledge Base ID
    Value: !Ref BedrockKnowledgeBase
    Export:
      Name: !Sub ${AWS::StackName}-KnowledgeBaseId

  DataSourceId:
    Description: Bedrock Data Source ID
    Value: !GetAtt BedrockDataSource.DataSourceId
    Export:
      Name: !Sub ${AWS::StackName}-DataSourceId

  IngestionStateMachineArn:
    Description: Step Functions ingestion state machine ARN
    Condition: DeployStepFunctions
    Value: !Ref IngestionStateMachine
    Export:
      Name: !Sub ${AWS::StackName}-IngestionStateMachine

  KMSKeyArn:
    Description: KMS key ARN for artifact encryption
    Value: !GetAtt ArtifactsKMSKey.Arn
